body {
	font-family: Roboto, Arial;
  margin: 0;
  margin-top: 97px;
  /*margin-left: 80px;
  margin-right: 80px;*/
  background-color: rgba(156, 156, 156, 0.092);

}



@media(max-width: 800px){
  body{
    margin-top: 80px;
  }
}
