
.year-link{
  display: flex;
  text-decoration: none;
  color:rgba(0, 0, 0, 0.664);
  color: white;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 51px;
  background-color: rgba(0, 90, 0, 0.759);
  border-radius: 4px;
  font-size: 19px;
  width: 100%;
  box-shadow: 4px 3px 7px rgba(19, 19, 19, 0.4);
  transition: background-color .3s ,  color .2s, box-shadow .2s;
  font-weight: 600;
  position: relative;
  z-index: 9;
}

.year-link-year{
  z-index: 10;
  padding: 4px;
  margin-left: 20px;
}

.year-link-arrow-image{
  transition: transform .2s;
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 30%;
  padding: 3px;
  filter: invert();
}

.transform-right{
  transform:  translate(-50%,-50%)
  translateX(100px);
}

.transform-left{
  transform:  translate(-50%,-50%) translateX(0%);
}

/*@keyframes arrowMove{/*it is like write animation timeline => it sets keyframes of animation*/









