.zapisy-vyboru-page-container{
  margin-top: 97px;
  position: relative;
  width: 100%;
}

.zapisy-vyboru-link-container{
  margin-top: 65px;
  position: absolute;
  top: 0;
  display: grid;
  width: 70%;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  
}
