
body{
}

.zapisy-page-container{
  position: relative;
  margin-top:97px;
}

.gradiant{
  width: 100%;
  height: 550px;
  position: absolute;
  top:-43px;
  left: 0;
  background-image: linear-gradient(to top,transparent , white);
  z-index: 1;
}

.green-gradiant{
  height: 400px;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(to bottom, transparent,rgba(0, 90, 0, 0.979));
  top:454.5px;
}



.background-image{
  top: -43px;
  z-index: 0;
  zoom: .2;
  width: 100%;
  object-fit: cover;
  height: 4500px;
  filter: grayscale(100%)
  blur(10px);
  opacity: .40;
}

.links-container{
  position: absolute;
  margin-top: 50px;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  z-index: 2;
}



.link{
  display: flex;
  text-decoration: none;
  color:rgba(0, 0, 0, 0.664);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 27px;
  padding: 12px 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 90, 0, 0.759);
  border-radius: 4px;
  font-size: 19px;
  width: 50%;
  box-shadow: 4px 3px 7px rgba(19, 19, 19, 0.4);
  transition: background-color .3s ,  color .2s, box-shadow .2s;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.open-in-new-icon{
  transition: filter .3s;
  filter: invert();
  padding-left: 5px;
  height: 21px;
  opacity: .6;
  transition: height .1s;
}

.link:hover{
  box-shadow:4px 4px 6px rgba(19, 19, 19, 0.267);
  background-color: rgba(255, 255, 255, 0.377);
  color: black;
}

.link:hover .open-in-new-icon{
  opacity: 1;
  height: 25px;
  filter: none;
}