
body{
  margin-top: 97px;
}

.zapisy-page-container{
  position: relative;

}



.background-image{
  z-index: -10;
  zoom: .2;
  width: 100%;
  object-fit: cover;
  height: 4500px;
  filter: grayscale(100%)
  blur(10px);
  opacity: .15;
}

.links-container{
  position: absolute;
  margin-top: 50px;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}



.link{
  display: flex;
  text-decoration: none;
  color:black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 50px;
  font-size: 20px;
  width: 60%;
  transition: background-color .3s , color .3s;
}

.open-in-new-icon{
  transition: filter .3s;
  padding-left: 5px;
}

.link:hover{
  background-color: rgb(0, 0, 0);
  color:white;
}

.link:hover .open-in-new-icon{
  filter: invert();
}