.bottom-menu{
  margin: 0;
  background-color: rgba(0, 90, 0, 0.979);
  padding: 20px 0;
  height: 120px;
  width: 100%;
  color: rgba(255, 255, 255, 0.589);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-menu-items{
  display: flex;
  border-bottom: 2px solid rgba(255, 255, 255, 0.712);
  height: 70px;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.bottom-menu-item-container{
  color: rgba(255, 255, 255, 0.76);
  text-decoration: none;
  display: flex;
  width: 160px;
  text-align: center;
  margin: 0 10px;
  justify-content: center;
  font-weight: 600;
  font-size: 15px;
  transition: color .2s;
}

.bottom-menu-item-container:hover{
  color: white;
}

.company-container{
  margin-top: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
