.post-container{
  display: flex;
  flex-direction: row;
  
  border-radius: 10px;
  /*height: 200px;*/
  padding:35px 30px;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.253);
  border: 1px solid rgba(224, 224, 224, 0.938);
  margin-bottom: 35px;
}

.post-content-container{
  width: 55%;
  margin-left: 35px;
  margin-right: 12%;
  display: flex;
  flex-direction: column;

}

.post-header{
  margin-top: 10px;
  font-weight: 700;
  font-size: 20px;
  color: rgb(5, 117, 5);
}

.post-header:hover{
  text-decoration: underline;
  cursor: pointer;
}

.post-content{
  margin-top: 30px;
  font-size: 17px;  
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  
  line-height: 23px;
  
}

.post-image-container{
  width: 45%;
}

.post-image-container:hover{
  cursor: pointer;
}

.post-image{
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 10px;
}

.post-links{
  flex:1;  
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.post-link-container{
  display: flex;
  flex-direction: row;
  padding: 7px;
  border-radius: 40px;
  transition: background-color .15s;
  margin-right: 10px;
}

.post-link-container:hover{
  cursor: pointer;
  background-color: rgba(226, 226, 226, 0.863);
}

.post-link-icon{
  height: 24px;

}



.post-link-text{
  margin-left: 5px;
  display: flex;
  align-items: center;
  font-weight: 500;
}




@media (max-width: 880px) {
  .post-container{
    flex-direction: column;
  }

  .post-image-container{
    width: 100%;
  }

  .post-content-container{
    width: auto;
    margin: 0 10px;
    
  }
}


